<!DOCTYPE html>

<html>

<head>
  <!-- Tab Title -->
  <title>Hamburglar!</title>
  <link rel="icon" href="/assets/img/hamburglar.png">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Custom Styling -->
  <link rel="stylesheet" href="/assets/css/burger_style.css">



</head>

<body>
  <header>

   
    <img src="/assets/img/hamburglar.png"

  </header>
  <!-- Container -->
  <div class="container">








    <!-- Page Title -->
   
      <h1 class="title">Hamburglar</h1>
    




    <!--index.handlebars -->
    {{{body}}}


</body>

</html>