<div class="row">
  <center>
    <!-- Left side-->
    <div class="col-md-6">
      <h4>Bon Apetit!</h4>
      <div>

        <!-- Insert Burgers Here -->
        {{#each burgers}} {{#unless this.devoured}}
        <form action="burgers/{{id}}?_method=PUT" method="POST">
          <div class="input-group">
            <li class="form-control">{{burger_name}}</li>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Hamburgle!</button>
            </span>
          </div>
        </form>
        {{/unless}} {{/each}}

      </div>
    </div>

    <!-- Right side-->
    <div class="col-md-6">
      <h4>Hamburgled!</h4>
      <div id="eaten">

        <!-- Insert Eaten Burgers Here -->
        {{#each burgers}} {{#if this.devoured}}
        <form action="burgers/{{id}}?_method=DELETE" method="POST">
          <div class="input-group">
            <li class="form-control">{{burger_name}}</li>
            <span class="input-group-btn">
              {{!--
              <button class="btn btn-info delete-button" type="button">Delete!</button> --}}
            </span>
          </div>
        </form>
        {{/if}} {{/each}}

      </div>
    </div>


</div>
</div>


<!-- Input New Burgers-->
<form action="/burgers" method="POST">

  <!-- Text Area-->
  <div class="row">

    <div class="col-md-3"></div>

    <!-- Burger Input Box -->
    <div class="form-group col-md-6">
      <center>
        <label for="new_burger" class="small-text">Place your burger order but watch out for the Hamburglar!</label>
      </center>
      <textarea class="form-control" rows="1" id="new_burger" name="burger_name"></textarea>

      <br>
      <center>

        <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
      </center>
    </div>

    <div class="col-md-3"></div>
  </div>





</form>